//===== COMPONENT =====//



.dropdown-menu-charet {
  display: none;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  /* border-top: 9px solid #fff; */
  border-bottom: 9px solid #fff;
  width: 0;
  margin: auto;
  z-index: 999;
}

//loading-prompt
#loading-prompt {
  img {
    height: 50px;
    width: 50px;
  }

  .modal-dialog {
    width: 15%;
  }
}


//login input
.password-field {
  input {
    border-right: 0;
  }

  .input-group-text {
    background-color: transparent;
    border-left: 0;
  }

  span {
    cursor: pointer;
  }

}

//button
.btn {
  border-radius: 8px;
  position: relative;
  font-size: 14px;

  &.btn-primary {
    color: white;
  }

  .btn-icon {
    border-radius: 50%;
  }

  .notify-badge {
    position: absolute;
    border-radius: 50%;
    top: 3px;
    left: 31px;
    height: 10px;
    width: 10px;
    background-color: #ED2324;
  }



  &.btn-pill {
    height: 40px;
    width: auto;
    // background-color: rgb(255 255 255 / 26%);
    border-radius: 22px;
    border: 1px solid #EEEEEE;


    &.btn-pill--light {
      color: $placeholder-light-input-search;
      background-color: rgb(255 255 255 / 26%);
      border: 0;
      padding-top: 9px;

      &:hover {
        background-color: rgb(0 0 0 / 9%);
        color: rgb(0 0 0 / 44%);
      }
    }


    &.btn--tp--light {
      &:hover {
        color: $placeholder-light-input-search;
      }

      background: transparent;
    }

    &.btn-pill--dark {
      color: $placeholder-dark-input-search;
      border: 0;
      padding-top: 9px;

    }
  }

  &.btn-white {
    background-color: #fff;
    font-weight: bolder;
    color: $primary;
  }

  &.btn-link {
    background-color: transparent;
    color: $primary;
    text-decoration: none;
  }
}


//rounded-input-search
.rounded-input-search {
  input {
    padding: 8px 16px 8px 16px;
    border: 1px solid #EEEEEE;
    border-right: 0;
    color: inherit;
    background-color: #fff;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    background-color: rgb(255 255 255 / 26%);
    color: $black-body;
    // border-color: rgb(255 255 255 / 26%);
  }

  .form-control {
    &:focus {
      background-color: rgb(0 0 0 / 9%);
      color: $black-body;

    }
  }

  span {
    border-left: 0;
    background-color: #fff;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    background-color: rgb(255 255 255 / 26%);
    // border-color: rgb(255 255 255 / 26%);
    color: #AFB3B4;
    border: 1px solid #EEEEEE;
    border-left: 0;
    margin-left: 0;
  }

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: inherit;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: inherit;
  }

  :-ms-input-placeholder {
    /* IE 10+ */
    color: inherit;

  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: inherit;

  }

  .input-group-text {
    margin-left: 0 !important;
  }

  &.input-search-light {
    input {
      border: 0;
    }

    span {
      border: 0;
      color: rgb(255 255 255 / 40%);
    }

    .form-control {
      &:focus {
        background-color: rgb(0 0 0 / 9%);
        color: $placeholder-light-input-search;
      }
    }

    ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: rgb(255 255 255 / 40%);
    }

    ::-moz-placeholder {
      /* Firefox 19+ */
      color: rgb(255 255 255 / 40%);
    }

    :-ms-input-placeholder {
      /* IE 10+ */
      color: rgb(255 255 255 / 40%);
    }

    :-moz-placeholder {
      /* Firefox 18- */
      color: rgb(255 255 255 / 40%);
    }
  }

  &.input-search-dark {
    ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: $placeholder-dark-input-search;
    }

    ::-moz-placeholder {
      /* Firefox 19+ */
      color: $placeholder-dark-input-search;
    }

    :-ms-input-placeholder {
      /* IE 10+ */
      color: $placeholder-dark-input-search;
    }

    :-moz-placeholder {
      /* Firefox 18- */
      color: $placeholder-dark-input-search;
    }
  }
}

// DROPDOWN //
.dropdown .btn{
  color: $black-body;
}

// ------- dropdown profile -------  //
.dropdown-menu{
  border-radius: 8px;
  border: 0;
  box-shadow: 0px 15px 18px rgb(0 0 0 / 20%);
  margin-top: 7px !important;


  .dropdown-item{
    padding: 8px 20px;
  }
}

.profile-dropdown {
  .dropdown-menu {
    &.show {
      +.dropdown-menu-charet {
        display: block;
      }
    }

    .dropdown-item {
      padding: 0.25rem 2rem 0.25rem 1rem;
    }
  }

  h6 {
    white-space: break-spaces;
    margin-bottom: 0;
  }

  img.avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }

  img:not(.avatar) {
    // border-radius: 50%;
    height: 28px;
    width: 28px;
    margin-right: 9px;
    margin-left: 9px;
  }
}

// ------- dropdown profile -------  //



// ------- dropdown notification ------- //
.notification-dropdown {
  .dropdown-toggle::after {
    display: none;
  }


  .dropdown-menu {
    li:last-child {
      margin-top: 10px;
      margin-bottom: 3px;

      a {
        text-decoration: none;
        font-weight: 600;
      }
    }

    li.dropdown-item:first-child {
      padding: 10px 1rem 10px;

      // font-weight: 800 !important;
      &:hover {
        cursor: auto;
        background-color: transparent;
      }

      h6 {
        font-weight: 700;
      }

      &::before {
        display: none;
      }
    }

    .dropdown-item {
      position: relative;
      counter-reset: section;
      padding: 0.75rem 3rem;
      cursor: pointer;

      a {
        text-decoration: none;
        color: inherit;
      }

      &:before {
        counter-increment: section;
        content: counter(section);
        height: 8px;
        width: 8px;
        color: transparent;
        background-color: #DEDEDE;
        display: block;
        margin-right: 100px;
        margin-top: 10px;
        position: absolute;
        left: 1rem;
        border-radius: 50%;
      }

      .body {
        white-space: break-spaces;
        color: $black-heading;
      }

      &.new {
        &::before {
          background-color: $primary;
        }

        .body {
          font-weight: 600;
        }
      }


    }

    &.show {
      +.dropdown-menu-charet {
        display: block;
      }
    }
  }


}

// ------- dropdown notification ------- //



//===== COMPONENT =====//


.text-ellipsis {
  width: 118px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}


.widget {
  // margin-right: 12px;
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  flex-basis: 75px;
  flex-grow: 1;
  cursor: pointer;

  .widget-title {
    font-size: 12px;
    opacity: .5;
    min-height: 36px;
  }

  .widget-body {
    width: 100%;
    height: 100%;
    font-weight: 700;
    // font-size: 1.5rem;
    // padding: .5rem 1rem;
    border-radius: 8px;

    h3 {
      font-weight: 700;
      margin: 0;
    }

    .widget-icon {
      padding-top: 8px;

      i {
        font-size: 20px;
      }

      margin-bottom: 16px;
    }
  }

  &.widget-dark {
    color: #fff;

    .widget-body {
      background: rgba(0, 0, 0, 0.13);
    }

  }

  &.widget-light {
    color: inherit;

    .widget-body {
      border: 1px solid #eeeeee;
      background-color: #fff;
    }

    &:hover {
      .widget-body {
        color: #3A3E40;
        background-color: #F8F8F8;
      }
    }

  }

  .widget-indicator {
    width: auto;
    height: 6px;
    border-radius: 10px;
    background-color: #00000038;
    margin-top: .5rem;

    &.widget-indicator--danger {
      background-color: #F16F33;
    }

    &.widget-indicator--success {
      background-color: #A1D050;
    }

    &.widget-indicator--warning {
      background-color: #F0C200;
    }
  }
}

.cirlce-accent {
  width: 100%;
  height: 100%;
  background-color: #428BCA;
  clip-path: circle(57.1% at 93% 50%);
}

.news {
  margin-bottom: 32px;
  cursor: pointer;

  .news-tag {
    color: #5A6692;
    margin-bottom: 2px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .news-title {
    margin-bottom: 2px;
  }

  .news-date {
    color: $text-muted;
  }
}


.aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 8rem;
  bottom: 0;
}

.aside-navigation {
  // margin-top: 3.5rem;
  overflow-y: auto;

  .accordion-button {
    padding-left: 0;
    border: 0
  }

  .accordion-collapse {
    border: 0;
  }

  .accordion-body {
    padding: 0;
  }

  .nav-header {
    &:focus {
      border: 0;
    }

    .accordion-button {
      font-size: 12px;
      color: #AAAFB2;
      background-color: transparent;
      padding-bottom: 8px;
      border-bottom: 1px solid #E3E9EC;

      &::after {
        height: 0.8rem;
        width: 0.8rem;
        background-size: auto;
      }

      &:not(.collapsed) {
        font-size: 12px;
        color: #AAAFB2;
        background-color: transparent;

        &::after {
          height: 0.8rem;
          width: 0.8rem;
          background-size: auto;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        }
      }
    }
  }

  a.nav-item {
    padding: 16px 8px;
    display: block;
    width: 100%;
    color: inherit;
    text-decoration: none;
    margin-bottom: 4px;

    &:hover {
      background-color: #DDEBFF;
      color: $primary;
      border-radius: 8px;
      cursor: pointer;
      font-weight: 600;
    }

    &.active {
      font-weight: bolder;
      background-color: #DDEBFF;
      color: $primary;
      border-radius: 8px;
      font-weight: 600;
    }
  }
}

// BREADCRDUMB //
.breadcrumb {
  a {
    text-decoration: none;
    color: #fff;
  }

  .breadcrumb-item.active {
    color: rgb(255 255 255 / 67%);
  }

  margin-bottom: 0;

  ol {
    margin-bottom: 0;
    margin-block-end: 0;
  }
}

.breadcrumb-item+.breadcrumb-item::before {
  content: "\003E";
  color: #fff;
}

// TAB - PILL //
.nav-pills .nav-link {
  border-radius: 8px;
}


//  BUTTON CHECK
input[type="radio"].btn-check {
  &.btn-check--light {
    &+label.btn {
      background-color: transparent;
      // color:rgba(175, 179, 180, 1);
      color: rgba(175, 179, 180, 1);
    }

    &:checked {
      &+label.btn {
        background: rgba(248, 248, 248, 1);
        color: #3A3E40;
      }
    }
  }
}

// LIST GROUP
.list-group{
  .list-item{
    display: flex;
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid #EEEEEE;
    &:hover{
      background-color: #F8F8F8;
      cursor: pointer;
    }
  }
}


//FORM - SELECT
.form-select{
  min-width: 190px;
  border-radius: 35px;
  color: $black-body;
}


// FILTER-GROUP //
.filter-group{
  .dropdown{
    width: 180px;
    .btn{
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
    }
  }
}
// FILTER-GROUP //