@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/utilities";

.mysapk-container {
	@include make-container();
	width: 1000px;
}

$theme-colors: map-merge(
	(
		"black-body": #686b6d,
		"black-heading": #3a3e40,
		"cyan": rgba(29, 186, 212, 1),
	)
) !default;
$light: #ffffff42;
$text-muted: #afafaf;

// custom color
$primary: #3085ff;
$black-body: #686b6d;
$black-heading: #3a3e40;
$placeholder-dark-input-search: #afafaf;
$placeholder-light-input-search: #ffffff;
$background-color: #f4f7fb;
$light-gray: #f8f8f8;
// for chart
$cyan: rgba(29, 186, 212, 1);
$purple: rgba(179, 103, 255, 1);
$light-orange: #ffe399 !default;
$mysapk-colors: (
	"primary": #3085ff,
	"black-body": #686b6d,
	"black-heading": #3a3e40,
	"placeholder-dark-input-search": #afafaf,
	"placeholder-light-input-search": #ffffff,
	"lightgray": #f8f8f8,
);

$theme-colors: map-merge($theme-colors, $mysapk-colors);

@import "../bootstrap/scss/bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
@import "./components.scss";
@import "./typography.scss";

//TYPOGRAPHY//

.fs-12 {
	font-size: 12;
}

//===== GLOBAL  =====//

html {
	font-family: "proxima";
}

body {
	font-size: 0.875rem;
	color: $black-body;
	font-family: "proxima";
	background-color: $background-color;

	//handle responsive aside toggle when mobile screen
	.btn-toggle-sidebar {
		display: none;
	}
	&.mobile {
		.btn-toggle-sidebar {
			display: block;
		}
		&.aside-show {
			overflow: hidden;
		}

		.content-wrapper {
			padding-top: 0;
			// margin-top: 8rem;

			.content {
				min-height: 90vh;
			}

			@include media-breakpoint-down(lg) {
				max-width: 500px;
				margin-top: 5rem;
			}

			@include media-breakpoint-down(lg) {
				#aside-container {
					padding: 1rem 1rem;
					top: 64px;
					border-top-right-radius: 16px;
					border-bottom-right-radius: 16px;

					&.hide {
						// display: none;
						// width: 0;
						left: -300px;
						position: fixed;
						transition: left 0.3s ease-in-out;
					}

					&.show {
						position: fixed;
						top: 64px;
						left: 0;
						width: 300px;
						// margin-left: -13px;
						bottom: 0;
						z-index: 999;
						box-shadow: 0px 1px 9px -3px rgb(0 0 0 / 25%);
						overflow-y: scroll;
						transition: left 0.3s ease-in-out;
						.profile-box {
							color: inherit;

							.btn.btn-link {
								color: unset;
							}
						}
					}
				}
			}

			#aside-container {
				bottom: 0;
				z-index: 999;
				background-color: #fff;
			}
		}
	}

	.content-wrapper {
		padding-top: 8rem;
	}
}

#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	background-color: rgb(0 0 0 / 85%);
	z-index: 9999;
	text-align: center;
	overflow: hidden;

	#loading-content {
		background-color: #fff;
		padding: 16px;
		border-radius: 8px;
		margin: 0;
		width: 130px;
		height: 130px;
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);

		.loading-img {
			margin: auto auto 16px auto;
			display: block;
		}

		img {
			height: 46px;
			width: auto;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #3a3e40;
}

h1,
h2,
h5,
h6 {
	font-weight: 600;
}

.flex-gap {
	gap: 2% 2%;
}

.d-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr 1fr;

	@include media-breakpoint-down(lg) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.d-grid-1 {
	display: grid;
}

.grid-2 {
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 1fr;
}

.grid-2-sm {
	@include media-breakpoint-down(lg) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr 1fr;
	}
}

.grid-gap {
	gap: 16px;
}

.d-content {
	display: contents;
}

.justify-end-center {
	margin: auto 0 auto auto;
}

.bg-lightgray {
	background-color: $light-gray;
}

.bg-lightgreen {
	background-color: #a9dfbf;
}

.bg-cyan {
	background-color: $cyan;
}

.bg-purple {
	background-color: $purple;
}

.bg-orange {
	background-color: $light-orange;
}

.bg-light-yellow {
	background-color: #fff8da;
}

.text-cyan {
	color: $cyan;
}

.text-purple {
	color: $purple;
}

//===== GLOBAL =====//

//HEADER
//login page
header {
	.header-content {
		@include media-breakpoint-down(lg) {
			max-width: 500px;
		}
	}
}

.authentication-header {
	background-color: white;

	.bg-accent {
		position: absolute;
		left: 11.5rem;
	}

	.header-item-container {
		padding: 24px 0 24px;

		.brand-logo {
			img {
				height: 50px;
				width: 50px;
			}
		}

		.support-logo {
			img {
				height: 24px;
				width: auto;
			}
		}
	}
}

//LoginPage
.qr-code-container {
	img {
		height: 100px;
		width: 100px;
	}
}

.qr-login-step {
	display: grid;
	grid-template-columns: 1.5rem 1fr;
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 0px;
	margin-left: 2rem;

	span {
		font-size: 10px;
		line-height: 2.2;
		background-color: $primary;
		height: 1.5rem;
		width: 1.5rem;
		text-align: center;
		color: white;
		border-radius: 50%;
	}
}

.qr-login-step-title {
	margin-left: 2rem;
}

//Dashboard
.dashboard-header {
	background-color: transparent;
	color: #ffffff;

	.profile-dropdown {
		.profile-name {
			display: none;
		}
	}

	&.header-light {
		color: #000;
		background-color: #ffffff;
		box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);

		.rounded-input-search {
			input {
				background-color: rgb(0 0 0 / 4%);
			}

			span {
				background-color: rgb(0 0 0 / 4%);
				color: #afb3b4;
			}

			::-webkit-input-placeholder {
				/* Chrome/Opera/Safari */
				color: #afafaf;
			}

			::-moz-placeholder {
				/* Firefox 19+ */
				color: #afafaf;
			}

			:-ms-input-placeholder {
				/* IE 10+ */
				color: #afafaf;
			}

			:-moz-placeholder {
				/* Firefox 18- */
				color: #afafaf;
			}
		}

		.btn-pill {
			&.btn-pill--light {
				color: $placeholder-dark-input-search;
				background-color: rgb(0 0 0 / 4%);

				&:hover {
					background-color: rgb(0 0 0 / 16%);
					color: rgb(0 0 0 / 44%);
				}
			}

			&.btn--tp--light {
				&:hover {
					color: $placeholder-dark-input-search;
				}

				background: transparent;
			}

			&.btn-pill--dark {
				color: $placeholder-dark-input-search;
			}
		}

		.profile-dropdown {
			.profile-name {
				color: $black-heading;
			}
		}
	}

	.bg-accent {
		position: absolute;
		left: 11.5rem;
	}

	.header-item-container {
		padding: 4px 0 4px;

		.brand-logo {
			display: flex;
			align-items: center;

			img {
				height: 36px;
				width: 36px;
				margin-right: 1rem;
				border-radius: 50%;
				box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.0963542);

				@include media-breakpoint-down(lg) {
					display: none;
				}
			}
		}

		.support-logo {
			img {
				height: 24px;
				width: auto;
			}
		}

		.header-item {
			padding: 8px;
		}
	}
}

.profile-box {
	color: #fff;
	// position: fixed;
	flex-direction: column;

	.avatar {
		border-radius: 50%;
		height: 50px;
		width: 50px;
		margin-bottom: 1rem;
	}

	.action {
		margin-top: 1rem;
	}

	.btn.btn-link {
		color: #fff;
	}

	&.profile-box--small {
		color: $black-body;
		flex-direction: row;

		#department {
			display: none;
		}

		#NIK {
			display: none;
		}

		.avatar {
			display: inline-block;
			margin-right: 1rem;
		}

		.action {
			margin-top: 0;
		}

		.btn {
			background-color: transparent;
			color: $primary;
			font-weight: 600;
			padding: 0;
		}
	}
}

.dashboard-card {
	border-radius: 16px;
	border: 0;
	// box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.04);
	box-shadow: 0px 11px 71px -18px rgba(0, 0, 0, 0.111041);
	.card-footer {
		border-bottom-left-radius: 16px;
		border-bottom-right-radius: 16px;
	}
}

#accent-background {
	background-color: $primary;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
	transition: height 0.3s ease-out;
	height: 0px;

	&.active {
		height: 350px;
		transition: height 0.3s ease-out;
	}
}

.content-header-light {
	&:not(.dropdown) {
		color: #fff;
	}

	a:not(.dropdown .dropdown-item) {
		color: #fff;
	}

	.page-title {
		color: #fff;
	}

	.breadcrumb {
		color: #fff;

		.breadcrumb-item.active {
			color: rgb(255 255 255 / 67%);
		}
	}

	.btn {
		&.btn-link {
			color: #fff;
		}
	}
}

#content-header {
	.nav-pills {
		.nav-item {
			min-width: 100px;
			text-align: center;
		}

		font-weight: bolder;
	}

	&.content-header-dark {
		color: inherit;

		.nav.nav-pills .nav-item a.nav-link {
			color: #3a3e4086;

			&.active {
				color: #fff;
			}
		}

		a {
			color: inherit;
		}

		.breadcrumb-item.active {
			color: rgb(0 0 0 / 36%);
		}

		.btn-link {
			color: inherit;
		}
	}
}

.cursor-pointer {
	cursor: pointer;
}

//remove button style
.btn-ghost {
	border: none;
	background: transparent;
}

.overflow-sm-auto {
	@include media-breakpoint-down(md) {
		overflow: auto;
	}
}

// Handle toggle aside menu

#aside-backdrop {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	background-color: rgb(0 0 0 / 85%);
	text-align: center;
	overflow: hidden;
}

.kartu-asn-virtual-container {
	img {
		width: 49%;
	}
}

.banner-img-container {
	width: 177px;
	min-width: 177px;
	display: block;
	@include media-breakpoint-down(lg) {
		min-width: 115px;
	}
}
#img-banner-kav {
	height: auto;
	object-fit: cover;
	position: absolute;
	top: -20px;
}
